    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About </h2>
              <br/>
                <p> After a year working with a International BPO Company I found out how much a company need help with a lot of different system. With all my planner and organizer skills I decide to help them to get things done easly. 
I handle with all part of the project since the beginner until we have a perfect results. My clients is always satisfied with the results. </p> 
                <p> My native lenguage is the Portuguese but I also speak excelent English. I am able to understand Spanish, read and write. For more then five years I work with people relationship business in so many diferents departaments. One day I decided get all the skills that I learned and become a Virtual Assistent. Today, I do what i love and help people love what they do. <p>
                <br/>
              </div>
        </div>
    </section>
